{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "./node_modules/prettier-plugin-jsdoc/dist/index.js",
    "prettier-plugin-css-order",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react",
    "^@[a-zA-Z]",
    "^[a-zA-Z]",
    "^@/",
    "^/",
    "^./",
    "^../"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "importAssertions"],
  "cssDeclarationSorterOrder": "smacss",
  "jsdocCapitalizeDescription": false,
  "htmlWhitespaceSensitivity": "strict",
  "tailwindFunctions": ["clsx", "_class"]
}
