.game_over_panel {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 100px;
  right: 0;
  bottom: 100px;
  pointer-events: none;
  touch-action: none;
}
.game_over_panel svg {
  width: 320px;
}
.text_outline {
  fill: none;
  stroke: #000000;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  font-size: 40pt;
}
.text_fill {
  fill: #ffffff;
  font-size: 40pt;
}