.glyph {
  width: 80px;
  height: 40px;
  margin: 10px 0;
}
.glyph[data-color="red"] {
  fill: #ef314d;
  stroke: #ef314d;
}
.glyph[data-color="green"] {
  fill: #4caf50;
  stroke: #4caf50;
}
.glyph[data-color="blue"] {
  fill: #3074d4;
  stroke: #3074d4;
}
@media screen and (max-width: 640px), screen and (max-height: 640px) {
  .glyph {
    width: 40px;
    height: 20px;
    margin: 5px 0;
  }
}
