@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;

  --animate-win: win 1s infinite ease-out both;

  @keyframes win {
    25% {
      translate: 0 -5px;
    }
    50% {
      translate: 0 0;
    }
  }
}

* {
  @apply font-sans;
}

html {
  @apply font-thin;
}

@media (max-width: 600px) {
  html {
    --spacing: 3.25px;
  }
}

@media (max-width: 400px) {
  html {
    --spacing: 2.5px;
  }
}

#root {
  @apply flex h-dvh flex-col;
}

hr {
  @apply my-4 border-slate-300;
}

h2 {
  @apply flex items-center gap-2 text-2xl;
}

h2 > svg {
  @apply text-indigo-500;
}

a {
  @apply inline-flex items-center gap-2 text-indigo-500 underline hover:text-current;
}

b {
  @apply font-medium;
}

button {
  @apply cursor-pointer;
}

button > svg {
  @apply text-xl;
}

svg {
  @apply shrink-0 overflow-visible;
}

.lucide {
  width: unset;
  height: 1em;
}

:not(html) ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 999px;
  background-color: theme(--color-slate-100);
}

:not(html) ::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: theme(--color-slate-300);
}
